@inject UserService UserService
@inject ExchangeOrderService ExchangeOrderService

<div class="top-row ps-3 navbar navbar-dark bg-primary" style="width: 250px">
    <div class="container-fluid">
        <div style="float: left">
            <MudImage Src="logo.png" Width="30" ></MudImage>
        </div>
        <div style="float: left">
            <a class="navbar-brand" href="main" @onclick="ClearExchangeOrderService" style="float: left">Бартерный обмен</a>
        </div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

@if(!UserService.IsAuthorized() || UserService.CurrentUser.Role == "User")
{
    <MudPaper Width="250px" Class="py-3 bg-primary" Elevation="0" Height="100%">
        <MudNavMenu Dense="true" Color="Color.Info">
            <MudNavLink Href="/make-order" style="color: white" Icon="@Icons.Material.Filled.Add" IconColor="Color.Inherit" OnClick="ClearExchangeOrderService">Создать обмен</MudNavLink>
            <MudNavGroup Title="Обмены" Expanded="false" Style="color: white" Icon="@Icons.Material.Filled.Description" IconColor="Color.Inherit" OnClick="ClearExchangeOrderService">
                <MudNavLink Href="/created-orders" Style="color: white" Icon="@Icons.Material.Filled.Create" IconColor="Color.Inherit" OnClick="ClearExchangeOrderService">Созданные объявления</MudNavLink>
                <MudNavLink Href="/conducted-offers" Style="color: white" Icon="@Icons.Material.Filled.CheckBox" IconColor="Color.Inherit" OnClick="ClearExchangeOrderService">Проведенные обмены</MudNavLink>
                <MudNavLink Href="/created-offers" Style="color: white" Icon="@Icons.Material.Filled.CallMade" IconColor="Color.Inherit" OnClick="ClearExchangeOrderService">Созданные предложения</MudNavLink>
                <MudNavLink Href="/recieved-offers" Style="color: white" Icon="@Icons.Material.Filled.CallReceived" IconColor="Color.Inherit" OnClick="ClearExchangeOrderService">Полученные предложения</MudNavLink>
            </MudNavGroup>
            <MudNavLink Href="/main-targets" style="color: white" Icon="@Icons.Material.Filled.PlaylistAddCheck" IconColor="Color.Inherit" OnClick="ClearExchangeOrderService">Цели</MudNavLink>
        </MudNavMenu>
    </MudPaper>
}
else
{
    <MudPaper Width="250px" Class="py-3 bg-primary" Elevation="0" Height="100%">
        <MudNavMenu Dense="true" Color="Color.Info">
            <MudNavLink Href="/create-item-category" OnClick="ClearExchangeOrderService" style="color: white" Icon="@Icons.Material.Filled.ViewList" IconColor="Color.Inherit">Категории предметов</MudNavLink>
            <MudNavLink Href="/create-item-type" OnClick="ClearExchangeOrderService" style="color: white" Icon="@Icons.Material.Filled.ListAlt" IconColor="Color.Inherit">Типы предметов</MudNavLink>
        </MudNavMenu>
    </MudPaper>
}


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Storage.Nav = this;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void Reload()
    {
        base.StateHasChanged();
    }

    public void ClearExchangeOrderService()
    {
        ExchangeOrderService.ClearAll();
    }
}
