@inject ExchangeOrderService ExchangeOrderService
@inject FileSystemService FileSystemService
@inject NavigationManager Navigation
@inject UserService UserService
@inject ItemService ItemService

@if(!IsCreatedOrders && !IsOfferOrders)
{
    <div class="card">
        <div class="card-body" style="display: flex; flex-direction: row; justify-content: flex-start">
            <MudTextField @bind-Value="@searchText" HelperText="Поиск по названию объявления, категории и типу предмета" Label="Поиск"
                      Style="width: 50%" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" OnAdornmentClick="Search" />
            @if(UserService.CurrentUser != null && ExchangeOrderService.CheckAvailabilityExchangeOrders(UserService.CurrentUser.Email))
            {
                <MudCheckBox T="bool" Label="Рекомендуемые обмены" LabelPosition="LabelPosition.Start" Color="Color.Secondary" CheckedChanged="@(e => GetRecomendedOrders((bool)e))"></MudCheckBox>
            }         
        </div>
    </div>
}

<div class="card-group" style="width: 100%; margin: 10px 0 0 0">
    @foreach (var exch in AllExchangeOrders)
    {
        <MudCard Outlined="true" style="width: 280; margin: 2%">
            <MudCardContent>
                <MudImage Src=@("Images/" + @exch.PhotoName) Elevation="25" Class="rounded-lg" Width="250" Height="250" />
            </MudCardContent>
            <MudCardActions style="display: flex; justify-content:center">
                <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="() => OpenOrderPage(exch.ExchangeOrderId)">@exch.Title</MudButton>
            </MudCardActions>
        </MudCard>
    }
</div>

@if (isError)
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}



@code {
    [Parameter]
    public List<ExchangeOrder> AllExchangeOrders { get; set; }
    [Parameter]
    public bool IsCreatedOrders { get; set; }
    [Parameter]
    public bool IsOfferOrders { get; set; }
    bool isError;
    string errorMessage = "";
    string searchText = "";
    bool isRecomendedOrders;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        foreach (var e in AllExchangeOrders)
        {
            FileSystemService.DownloadImage(e.PhotoName);
        }
    }

    private void OpenOrderPage(int id)
    {
        isError = false;

        if(IsOfferOrders)
        {
            if (ExchangeOrderService.CheckExchangeOrderOffer(id, ExchangeOrderService.CurrentExchangeOrder.ExchangeOrderId))
            {
                isError = true;
                errorMessage = "Такое предложение обмена уже существует!";
                return;
            }

            ExchangeOrderService.SaveExchageOrderOffer(new ExchangeOrderOffer
                (id, ExchangeOrderService.CurrentExchangeOrder.ExchangeOrderId));
            Navigation.NavigateTo("/main");
            if(ExchangeOrderService.ValueItemType != 0)
            {
                ExchangeOrderService.ValueItemType = 0;
            }
            return;
        }

        ExchangeOrderService.ChangeCurrentExchangeOrder(id);

        if(IsCreatedOrders == false)
        {
            Navigation.NavigateTo("/order");
            ExchangeOrderService.ValueItemType = ItemService.GetItemTypeById(ExchangeOrderService.GetExchangeOrder(id).ItemTypeId).Value;
        }
        else
        {
            Navigation.NavigateTo("/created-order");
        }
    }

    private void Search()
    {
        if(searchText != "")
        {
            AllExchangeOrders = ExchangeOrderService.GetListExchangeOrdersBySearch(searchText);
        }
        else
        {
            AllExchangeOrders = ExchangeOrderService.GetAllExchangeOrders();
        }
    }

    public void GetRecomendedOrders(bool check)
    {
        if (check)
        {
            AllExchangeOrders = ExchangeOrderService.GetRecomendedOrders(UserService.CurrentUser.Email);
        }
        else
        {
            AllExchangeOrders = ExchangeOrderService.GetAllExchangeOrders();
        }
    }
}
