@inject ExchangeOrderService ExchangeOrderService
@inject NavigationManager Navigation
@inject FileSystemService FileSystemService

@inject UserService UserService
@inject ItemService ItemService
@inject ExchangeOrderService ExchangeOrderService

@if(!IsCreatedOrders && !IsOfferOrders)
{
    <div class="card">
        <div class="card-body" style="display: flex; flex-direction: row; justify-content: flex-start">
            <MudTextField @bind-Value="@searchText" HelperText="Поиск по названию объявления, категории и типу предмета" Label="Поиск"
                      Style="width: 50%" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" OnAdornmentClick="Search" />
            @if(UserService.CurrentUser != null && ExchangeOrderService.CheckAvailabilityExchangeOrders(UserService.CurrentUser.Email))
            {
                <MudCheckBox T="bool" Label="Рекомендуемые обмены" LabelPosition="LabelPosition.Start" Color="Color.Secondary" CheckedChanged="@(e => GetRecomendedOrders((bool)e))"></MudCheckBox>
            }         
        </div>
    </div>
}
@if(RecomendedOrders == null)
{
    <div class="card-group" style="width: 100%; margin: 10px 0 0 0">
        @foreach (var exch in AllExchangeOrders)
        {
            <MudCard Outlined="true" style="width: 280; margin: 2%">
                <MudCardContent>
                    <MudImage Src=@("Images/" + @exch.PhotoName) Elevation="25" Class="rounded-lg" Width="250" Height="250" />
                </MudCardContent>
                <MudCardActions style="display: flex; justify-content:center">
                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="() => OpenOrderPage(exch.ExchangeOrderId)">@exch.Title</MudButton>
                </MudCardActions>
            </MudCard>
        }
    </div>
}
else
{
    <div class="card-group" style="width: 100%; margin: 10px 0 0 0">
        @foreach (var exch in RecomendedOrders)
        {
            if(exch.Count == 1)
            {
                <MudCard Outlined="true" style="width: 280; margin: 2%">
                    <MudCardContent>
                        <MudImage Src=@("Images/" + @exch.First().PhotoName) Elevation="25" Class="rounded-lg" Width="250" Height="250" />
                    </MudCardContent>
                    <MudCardActions style="display: flex; justify-content:center">
                        <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="() => OpenOrderPage(exch.First().ExchangeOrderId)">@exch.First().Title</MudButton>
                    </MudCardActions>
                </MudCard>
            }
            else
            {
                    <MudCard Outlined="true" style="width: 280; margin: 2%">
                        @foreach (var o in exch)
                        {
                            <MudCardActions style="display: flex; justify-content:center">
                       
                                <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="() => OpenOrderPage(exch)">@o.Title</MudButton>
                        
                            </MudCardActions>
                        }
                    </MudCard>
            }

        }
    </div>
}


@if (isError)
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}



@code {
    [Parameter]
    public List<ExchangeOrder> AllExchangeOrders { get; set; }
    [Parameter]
    public List<List<ExchangeOrder>> RecomendedOrders { get; set; }
    [Parameter]
    public bool IsCreatedOrders { get; set; }
    [Parameter]
    public bool IsOfferOrders { get; set; }
    bool isError;
    string errorMessage = "";
    string searchText = "";
    bool isRecomendedOrders;
    public List<ExchangeOrder> removedOrders = new List<ExchangeOrder>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        bool isRemoved;


        if(RecomendedOrders == null)
        {
            foreach (var e in AllExchangeOrders)
            {
                FileSystemService.DownloadImage(e.PhotoName);
                isRemoved = false;

                foreach (var s in ExchangeOrderService.SenderOrders)
                {
                    if (e.ExchangeOrderId == s.ExchangeOrderId)
                    {
                        removedOrders.Add(e);
                        isRemoved = true;
                    }
                }

                if (!isRemoved)
                {
                    foreach (var r in ExchangeOrderService.RecepientOrders)
                    {
                        if (e.ExchangeOrderId == r.ExchangeOrderId)
                        {
                            removedOrders.Add(e);
                        }
                    }
                }
            }

            foreach (var r in removedOrders)
            {
                AllExchangeOrders.Remove(r);
            }
        }    
    }

    private void OpenOrderPage(int id)
    {
        isError = false;

        if(IsOfferOrders)
        {

            if(ExchangeOrderService.IsSenderOrders)
            {
                ExchangeOrderService.SenderOrders.Add(ExchangeOrderService.GetExchangeOrder(id));
            }
            else
            {
                ExchangeOrderService.RecepientOrders.Add(ExchangeOrderService.GetExchangeOrder(id));
            }

            Navigation.NavigateTo("/main-offer");

            if(ExchangeOrderService.ValueItemType != 0)
            {
                ExchangeOrderService.ValueItemType = 0;
            }
            return;
        }

        ExchangeOrderService.ChangeCurrentExchangeOrder(id);

        if(IsCreatedOrders == false)
        {
            Navigation.NavigateTo("/order");
            if(isRecomendedOrders)
            {
                ExchangeOrderService.ValueItemType = ItemService.GetItemTypeById(ExchangeOrderService.GetExchangeOrder(id).ItemTypeId).Value;
            }
            else
            {
                ExchangeOrderService.ValueItemType = 0;
            }
        }
        else
        {
            Navigation.NavigateTo("/created-order");
        }
    }

    private void OpenOrderPage(List<ExchangeOrder> orders)
    {
        foreach(var o in orders)
        {
            if (ExchangeOrderService.IsSenderOrders)
            {
                ExchangeOrderService.SenderOrders.Add(ExchangeOrderService.GetExchangeOrder(o.ExchangeOrderId));
            }
            else
            {
                ExchangeOrderService.RecepientOrders.Add(ExchangeOrderService.GetExchangeOrder(o.ExchangeOrderId));
            }

            Navigation.NavigateTo("/main-offer");
        }    
    }

    private void Search()
    {
        if(searchText != "")
        {
            AllExchangeOrders = ExchangeOrderService.GetListExchangeOrdersBySearch(searchText);
        }
        else
        {
            AllExchangeOrders = ExchangeOrderService.GetAllExchangeOrders();
        }
    }

    public void GetRecomendedOrders(bool check)
    {
        if (check)
        {
            isRecomendedOrders = true;
            AllExchangeOrders = ExchangeOrderService.GetRecomendedOrders(UserService.CurrentUser.Email);
        }
        else
        {
            isRecomendedOrders = false;
            AllExchangeOrders = ExchangeOrderService.GetAllExchangeOrders();
        }
    }
}
