@page "/create-item-type"

@inject ItemService ItemService
@inject ISnackbar Snackbar


<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="Создание типа">
        <div class="card" style="width: 40%; margin: 100px 30% 0 30%">
            <div class="card-header">
                <h3 style="display: flex; justify-content:center; align-content: center">Добавление нового типа предмета</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="card-body">
                        <MudSelect @bind-Value="selectedTitleItemCategory1" T="string" Label="Категория предмета обмена" AnchorOrigin="Origin.CenterLeft" TransformOrigin="Origin.CenterRight"
                                   Variant="Variant.Filled" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary">
                            @foreach (var s in allTitlesItemCategories)
                            {
                                <MudSelectItem T="string" Value="@s">@s</MudSelectItem>
                            }
                        </MudSelect>
                    </div>
                </div>
                <div class="form-group">
                    <MudTextField @bind-Value="titleItemType" Label="Название типа предмета" Clearable="true" Immediate="true" Variant="Variant.Filled"></MudTextField>
                </div>
                <div class="form-group">
                    <MudTextField @bind-Value="valueType1" HelperText="Натуральное число" HelperTextOnFocus="true" Label="Ценность типа предмета" Clearable="true" Immediate="true" Variant="Variant.Filled"></MudTextField>
                </div>
                <div class="form-group" style="display: flex; justify-content:center; margin: 3%">
                    <button class="btn btn-primary" @onclick=CreateType>Добавить тип</button>
                </div>
            </div>
        </div>
    </MudTabPanel>
    <MudTabPanel Text="Редактирование типа">
        <div class="card" style="width: 40%; margin: 100px 30% 0 30%">
            <div class="card-header">
                <h3 style="display: flex; justify-content:center; align-content: center">Изменение ценности типа предмета</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="card-body">
                        <MudSelect @bind-Value="selectedTitleItemCategory2" T="string" Label="Категория предмета обмена" AnchorOrigin="Origin.CenterLeft" TransformOrigin="Origin.CenterRight"
                                   Variant="Variant.Filled" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" SelectedValuesChanged="() => UpdateTypesList(1)">
                            @foreach (var s in allTitlesItemCategories)
                            {
                                <MudSelectItem T="string" Value="@s">@s</MudSelectItem>
                            }
                        </MudSelect>
                    </div>
                </div>
                <div class="form-group">
                    <div class="card-body">
                        <MudSelect @bind-Value="selectedTitleItemType1" T="string" Label="Тип предмета обмена" AnchorOrigin="Origin.CenterLeft" TransformOrigin="Origin.CenterRight"
                                   Variant="Variant.Filled" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" HelperText="" SelectedValuesChanged="GetHelperText">
                            @foreach (var s in titlesItemTypes1)
                            {
                                <MudSelectItem T="string" Value="@s">@s</MudSelectItem>
                            }
                        </MudSelect>
                    </div>
                </div>
                <div class="form-group">
                    <MudTextField @bind-Value="valueType2" HelperText="Натуральное число" HelperTextOnFocus="true" Label="Ценность типа предмета" Clearable="true" Immediate="true" Variant="Variant.Filled"></MudTextField>
                </div>
                <div class="form-group" style="display: flex; justify-content:center; margin: 3%">
                    <button class="btn btn-primary" @onclick=EditType>Редактировать тип</button>
                </div>
            </div>
        </div>
    </MudTabPanel>
    <MudTabPanel Text="Удаление типа">
        <div class="card" style="width: 40%; margin: 100px 30% 0 30%">
            <div class="card-header">
                <h3 style="display: flex; justify-content:center; align-content: center">Удаление типа предмета</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="card-body">
                        <MudSelect @bind-Value="selectedTitleItemCategory3" T="string" Label="Категория предмета обмена" AnchorOrigin="Origin.CenterLeft" TransformOrigin="Origin.CenterRight"
                                   Variant="Variant.Filled" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" SelectedValuesChanged="() => UpdateTypesList(2)">
                            @foreach (var s in allTitlesItemCategories)
                            {
                                <MudSelectItem T="string" Value="@s">@s</MudSelectItem>
                            }
                        </MudSelect>
                    </div>
                </div>
                <div class="form-group">
                    <div class="card-body">
                        <MudSelect @bind-Value="selectedTitleItemType2" T="string" Label="Тип предмета обмена" AnchorOrigin="Origin.CenterLeft" TransformOrigin="Origin.CenterRight"
                                   Variant="Variant.Filled" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary">
                            @foreach (var s in titlesItemTypes2)
                            {
                                <MudSelectItem T="string" Value="@s">@s</MudSelectItem>
                            }
                        </MudSelect>
                    </div>
                </div>
                <div class="form-group" style="display: flex; justify-content:center; margin: 3%">
                    <button class="btn btn-primary" @onclick=DeleteType>Удалить тип</button>
                </div>
            </div>
        </div>
    </MudTabPanel>
</MudTabs>

@code {
    string selectedTitleItemCategory1 = "";
    string selectedTitleItemCategory2 = "";
    string selectedTitleItemCategory3 = "";
    string titleItemType = "";
    string selectedTitleItemType1 = "";
    string selectedTitleItemType2 = "";
    string valueType1 = "";
    string valueType2 = "";
    List<string> allTitlesItemCategories = new List<string>();
    List<string> titlesItemTypes1 = new List<string>();
    List<string> titlesItemTypes2 = new List<string>();
    string helperText = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        allTitlesItemCategories = ItemService.GetTitlesItemCategories();
    }

    private void GetHelperText()
    {
        if (selectedTitleItemType1 != null)
        {
            var itemType = ItemService.GetItemTypeByTitle(selectedTitleItemType1);
            helperText = "Ценность - " + itemType.Value.ToString();
        }
        else
        {
            helperText = "";
        }
    }

    private void UpdateTypesList(int numberList)
    {
        if(numberList == 1)
        {
            selectedTitleItemType1 = "";
            titlesItemTypes1 = ItemService.GetTitlesItemTypesByCategory
                (ItemService.GetItemCategoryByTitle(selectedTitleItemCategory2).ItemCategoryId);
        }
        else
        {
            selectedTitleItemType2 = "";
            titlesItemTypes2 = ItemService.GetTitlesItemTypesByCategory
                (ItemService.GetItemCategoryByTitle(selectedTitleItemCategory3).ItemCategoryId);
        }
    }

    public void CreateType()
    {
        int value;

        if (selectedTitleItemCategory1 == "")
        {
            Snackbar.Add("Выберите категорию предмета, к которому будет относится тип!", Severity.Error);
            return;
        }

        if (titleItemType == "" || valueType1 == "")
        {
            Snackbar.Add("Не все поля заполнены!", Severity.Error);
            return;
        }

        if (!int.TryParse(valueType1, out value) || !(value == Math.Truncate((double)value)))
        {
            Snackbar.Add("Ценность типа предмета должна быть натуральным числом!", Severity.Error);
            return;
        }

        if (ItemService.CheckItemType(titleItemType))
        {
            Snackbar.Add("Тип предмета с таким названием уже существует!", Severity.Error);
            return;
        }

        ItemService.CreateItemType(new ItemType(ItemService.GetItemCategoryByTitle(selectedTitleItemCategory1).ItemCategoryId,
            titleItemType, value));
        selectedTitleItemCategory1 = "";
        titleItemType = "";
        valueType1 = "";
        Snackbar.Add("Тип предмета успешно добавлен!", Severity.Success);
    }

    public void EditType()
    {
        int value;

        if (selectedTitleItemCategory2 == "" || selectedTitleItemType1 == "")
        {
            Snackbar.Add("Выберите категорию и тип предмета!", Severity.Error);
            return;
        }

        if (valueType2 == "")
        {
            Snackbar.Add("Заполните поле ценности!", Severity.Error);
            return;
        }

        if (!int.TryParse(valueType2, out value) || !(value == Math.Truncate((double)value)))
        {
            Snackbar.Add("Ценность типа предмета должна быть натуральным числом!", Severity.Error);
            return;
        }

        ItemService.EditItemType(selectedTitleItemType1, value);
        selectedTitleItemCategory2 = "";
        selectedTitleItemType1 = "";
        titlesItemTypes1.Clear();
        valueType2 = "";
        Snackbar.Add("Ценность типа предмета успешно изменена!", Severity.Success);
    }

    public void DeleteType()
    {
        if (selectedTitleItemCategory3 == "" || selectedTitleItemType2 == "")
        {
            Snackbar.Add("Выберите категорию и тип предмета!", Severity.Error);
            return;
        }


        if(ItemService.CheckItemTypeAvailabilityOfOrder
            (ItemService.GetItemTypeByTitle(selectedTitleItemType2).ItemTypeId))
        {
            Snackbar.Add("Нельзя удалить тип предмета, так как с этим типом уже созданы объявления обмена!", Severity.Error);
            return;
        }
        ItemService.DeleteItemType(selectedTitleItemType2);
        selectedTitleItemCategory3 = "";
        selectedTitleItemType2 = "";
        titlesItemTypes2.Clear();
        Snackbar.Add("Тип предмета успешно удален!", Severity.Success);
    }
}
